@tailwind base;
@tailwind components;
@tailwind utilities;
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
    scrollbar-width: thin;
    scrollbar-color: #005775 #d7d7d7;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #d7d7d7;
}

*::-webkit-scrollbar-track:hover {
    background-color: #cbcbcb;
}

*::-webkit-scrollbar-track:active {
    background-color: #d2d2d2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #005775;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #008aa3;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #0085a3;
}
/* =========================================================================
- - - - - - - - - - - - - - - - - UI - - - - - - - - - - - - - - - - - - - - 
========================================================================= */

/* Input
========================================================================= */
.label {
    @apply block mb-2 text-sm font-medium text-gray-900;
}
.textInput {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  w-full p-2.5;
}

/* Button
========================================================================= */
.button-primary {
    @apply h-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

#toast-success,
#toast-error {
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#toast-success.hidden,
#toast-error.hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.toast-progress {
    transition: width 5s linear;
}

.navbar-frontend-link {
    @apply absolute block h-[1px] bg-gray-900 left-0 -bottom-1 w-0 group-hover:w-full transition-all duration-300;
}

/* Gaya untuk tombol prev dan next index*/
.tns-controls {
    @apply relative top-[80px] flex justify-between items-center z-10 overflow-visible;
}

.tns-controls button[data-controls="prev"] {
    @apply absolute bg-white text-slate-700 rounded-full p-2 h-8 w-8 flex items-center text-center -left-3;
}

.tns-controls button[data-controls="next"] {
    @apply absolute bg-white text-slate-700 rounded-full p-2 h-8 w-8 flex items-center text-center -right-3;
}

.icon-function {
    @apply p-2 rounded-md transition-all ease-in-out duration-300 hover:scale-110;
}
